@import "tailwindcss";

:root {
  font-family: "Sora", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}